<%= render "shared/header" %>

<h1>Follow Requests</h1>

<h2>Sent Follow Requests</h2>
<% if @sent_requests.empty? %>
  <p>None.<p>
<% else %>
  <ul>
    <% @sent_requests.each do |req| %>
      <li>
        To:
        <%=
          link_to "#{req.requestee.username}", user_path(req.requestee.id)
        %>
        <br>
      </li>
    <% end %>
  </ul>
<% end %>

<h2>Received Follow Requests</h2>
<% if @received_requests.empty? %>
  <p>None.<p>
<% else %>
  <ul>
    <% @received_requests.each do |req| %>
      <li>
        From:
        <%=
          link_to "#{req.requester.username}", user_path(req.requester.id)
        %>
        <div>
          <%# TODO - accept form %>
          <button>Accept</button>
          <%=
            render(
              partial: "reject_form",
              locals: {
                random_id: 999,
                requestee_id: req.requestee_id,
                requester_id: req.requester.id
              }
            )
          %>
        </div>
        <br>
      </li>
    <% end %>
  </ul>
<% end %>
