<%= render "shared/header" %>

<h1>Users</h1>
<% if @users.empty? %>
  <p>There is no one here right now.<p>
<% else %>
  <ul>
    <% @users.each do |user| %>
      <li>
        <%=
          link_to(
            "#{user.username} #{user.id == current_user.id ? " (You)" : ""}",
            user_path(user.id)
          )
        %>

        <% if current_user.can_follow?(user.id) %>
          <%=
            render(
              partial: "shared/follow_request_form",
              locals: {
                requestee_id: user.id, requester_id: current_user.id
              }
            )
          %>
        <% else %>
          <br>
        <% end %>
        <br>
      </li>
    <% end %>
  </ul>
<% end %>
