<%= render "shared/header" %>

<h1>
  User:
  <%= @user.username %>
  <%= @is_same_user ? " (You)" : "" %>
</h1>
<%# TODO - rework below %>

<%# if can follow, show follow (request) form %>
<% if @can_follow %>
  <%= render partial: "shared/follow_request_form", locals: {
    requestee_id: @user.id, requester_id: current_user.id
  } %>
<% end %>

<%# if can unfollow, show unfollow form %>
<p>User profile body</p>
